<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="run tests1" parallel="tests" verbose="1" configfailurepolicy="continue" thread-count="1">
	
	<listeners>
    			<listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter" />
	</listeners>
		
	<test name="Sample Test1">
		<parameter name="browser" value="firefox"/>
		<classes>
			<class name="com.cucumber.cukerunner" />
		</classes>
	</test>
	


</suite>


